[submodule "FirstLabFrontIs"]
	path = FirstLabFrontIs
	url = https://github.com/JABAN111/informational-system-first-lab-frontend.git
[submodule "FistLab_Backend"]
	path = FistLab_Backend
	url = https://github.com/JABAN111/informational-system-first-lab-backend.git
